{% extends "learning_logs/base.html" %}

{% block page_header %}
  <h2>Topics</h2>
{% endblock page_header %}

{% block content %}
  <ul>
    {% for topic in topics %}
      <li>
        <h5>
          <small><a href="{% url 'learning_logs:topic' topic.id %}">
            {{ topic.text }}</a></small>
        </h5>
      </li>
    {% empty %}
      <h5><small>No topics have been added yet.</small></h5>
    {% endfor %}
  </ul>

  <hr>

  <h5>
    <small><a href="{% url 'learning_logs:new_topic' %}">
        Add a new topic</a></small>
  </h5>

{% endblock content %}
